<ion-header>
  <ion-item button (click)="inCampus()">
    <ion-label>
      <h3 id="btn"></h3>
    </ion-label>
    <ion-icon name="refresh" slot="end"></ion-icon>
  </ion-item>
</ion-header>

<div>
  <ion-segment (ionChange)="toggleCampus($event)" *ngIf="mapInitialised && !hasRoute" class="campusTgl">
    <ion-segment-button value="sgw" id="btnToTest" class="btn" id="sgw-button">
      <ion-label>SGW</ion-label>
    </ion-segment-button>
    <ion-segment-button value="loy" class="btn" id="cc-button">
      <ion-label>Loyola</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-building-info></app-building-info>

  <div #map id="map"></div>

  <ion-fab *ngIf="mapInitialised" class="locate-me-btn-wrapper">
    <ion-fab-button (ionFocus)="locateUser()" color="light" class="locate-me-btn"><img src="assets/images/map-pin.png"
        width="20px" /></ion-fab-button>
  </ion-fab>
</div>