<div>
  <ion-segment (ionChange)="toggleCampus($event)" class="campusTgl">
    <ion-segment-button value="sgw">
      <ion-label>SGW</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lyl">
      <ion-label>Layola</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div #map id="map"></div>
  
  <ion-fab class="locate-me-btn-wrapper">
    <ion-fab-button (ionFocus)="locateUser()" color="light" class="locate-me-btn"><img src="assets/images/map-pin.png" width="20px" /></ion-fab-button>
  </ion-fab>
</div>