<ion-card [@cardAnimation]="buildingInfoCardIsShown ? 'shown' : 'hidden'" class="building-info-card">
  <ion-card-header>
    <ion-card-title>{{ currentBuilding }}</ion-card-title>
    <ion-card-subtitle>{{ currentCampus }}</ion-card-subtitle>
    <img tappable src="../../../assets/images/close-icon.png" class="close-card" (click)="hideBuildingInfoCard($event)" />
  </ion-card-header>
  <ion-card-content>
    <ion-segment (ionChange)="toggleBuildingInfoCard($event)" value="departments">
      <ion-segment-button value="departments" class="inverted-segment">
        <ion-label>Departments</ion-label>
      </ion-segment-button>
      <ion-segment-button value="services" class="inverted-segment">
        <ion-label>Services</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="showDepartments" class="building-info-tab" [innerHTML]="currentBuildingDepartmentsInfo"></div>
    <div *ngIf="showServices" class="building-info-tab" [innerHTML]="currentBuildingServicesInfo"></div>
    <br>
    <ion-button color="primary" class="go-inside-btn" (click)="goInside(buildingSlug)" [disabled]="viewInsideDisabled()">
      See
      indoor</ion-button>
  </ion-card-content>
</ion-card>
