.building-info-card{
    z-index:99999;
    position:relative;
    background-color:white;
  
    .close-card{
      position:absolute;
      top:5px;
      right:5px;
      width:25px;
      height:auto;
    }
  }