.building-info-card {
  z-index: 99999;
  position: relative;
  background-color: white;

  .close-card {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: auto;
  }

  .inverted-segment {
    background-color: white;
    color: #A31b1b;
    border: 2px solid #a31b1b;
  }

  .inverted-segment.segment-button-checked {
    background-color: #A31b1b;
    color: white;
  }

  .building-info-tab {
    padding-top: 10px;
    min-height: 150px;
    max-height: 300px;
    overflow: scroll;
    background-color: #666;
    --ion-color-primary: white;
    color: white;
    padding-left: 10px;
  }

  .go-inside-btn {
    margin-top: 10px;
    margin-left: -2px;
  }
}
