<top-directions-bar (formCompleteEvent)="previewRoute($event)" indoor="true"> </top-directions-bar>

<ion-content>
  <indoor-floor-selector [current-floor]='floor' [floors]='floors' (floorChangeEvent)="changeFloor($event)">
  </indoor-floor-selector>
  <div class="floorplan-container">
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Select a route</ion-card-subtitle>
        <ion-card-title>Get Directions</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input clearInput [(ngModel)]="start"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input clearInput [(ngModel)]="end"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="getRouteTest()">Start</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-radio-group>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Stairs</ion-label>
            <ion-radio value="stairs" (ionSelect)="setMode('stairs')"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Escalator</ion-label>
            <ion-radio value="escalators" (ionSelect)="setMode('escalators')" checked></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Elevator</ion-label>
            <ion-radio value="elevators" (ionSelect)="setMode('elevators')"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card-content>
            <ion-card-title>Floor {{floor}}</ion-card-title>
          </ion-card-content>
        </ion-col>
        <ion-col>
          <ion-button expand="block" *ngIf="hasNextRoute" (click)="nextRoute()">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-card> -->
    <floor-plan [building]="building" [floor]="floor"></floor-plan>
  </div>
</ion-content>

<ion-footer>
  <route-pullup-footer [steps]="getRouteSteps()" routeType='indoor' [details]="getRouteDetails()"
    (startRouteEvent)="startRoute($event)">
  </route-pullup-footer>
</ion-footer>