.near-me-icon-container{
  display:inline-block;
  margin-left:10px;
  margin-right:10px;

  .near-me-icon{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
  }

  .near-me-label{
    text-align:center;
  }
}
