<ion-header>
  <ion-toolbar>
    <ion-title>Shuttle Bus Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
   
<h1 class="ion-padding">SGW</h1>
<ion-row class="ion-padding">
  <ion-col >Mon-Thur</ion-col>
  <ion-col >Friday</ion-col>
</ion-row> 
<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of scheduleDataSGW">
            {{item.sgwTimeA}}          
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of scheduleDataSGW">
            {{item.sgwTimeB}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<h1 class="ion-padding">Loyola</h1>
<ion-row class="ion-padding">
  <ion-col >Mon-Thur</ion-col>
  <ion-col >Friday</ion-col>
</ion-row> 
<ion-content overflow-scroll='true'>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of scheduleDataLoy">
            {{item.loyTimeA}}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of scheduleDataLoy">
            {{item.loyTimeB}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>