<ion-header>
  <ion-toolbar>
    <ion-title>Shuttle Bus Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      <h1> SGW </h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Mon-Thur
    </ion-col>
    <ion-col>
       Friday
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let item of scheduleData">
          {{item.time}}
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>
          timer 2
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
