span {
    color: grey;
    font-size: initial;
}

.container {
    padding: 0em 1em 0em 1em;
}

.title {
    margin: .5em 0em 0em .5em;
}

.dragger {
    background-color: grey;
    height: .25em;
    width: 25vw;
    border-radius: 1em;
    margin: .25em auto;
}