<ion-header translucent>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar *ngIf="!isExpanded" color="medium">
    <ion-button class="clear-btn" color="dark" fill="clear" size="large" (click)="expandBar()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="isExpanded" color="medium" mode="md">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="directionSent || isIndoor" size="{{backButtonSize}}">
            <ion-button class="clear-btn" color="dark" fill="clear" size="large" (click)="clearDirection()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="{{directionFormSize}}">
            <ion-searchbar placeholder="Starting point" search-icon="locate" color="light" [(ngModel)]="start"
              debounce="1000" (ionChange)="sendDirection()" (click)="goToSearchPage('start')" ngDefaultControl
              id="start-searchbar">
            </ion-searchbar>
            <ion-searchbar placeholder="Destination" search-icon="pin" color="light" [(ngModel)]="end" debounce="1000"
              (ionChange)="sendDirection()" (click)="goToSearchPage('final')" ngDefaultControl
              id="destination-searchbar">
            </ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row *ngIf="directionSent">
        <ion-col size="4" *ngFor="let mode of verticalTransportationButton">
          <div *ngIf="hasIndoors">
            <ion-button (click)="verticalTransportSegmentChanged(mode.label)" shape="round" expand="full"
              color="{{mode.color}}">{{mode.label}}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <div *ngIf="hasOutdoors">
        <ion-segment scrollable value="TRANSIT" (ionChange)="transportSegmentChanged($event)" color="primary">
          <ion-segment-button value={{transportEnum.DRIVING}} layout="icon-top" id="drive-button">
            <ion-label>Drive</ion-label>
            <ion-icon name="car"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value={{transportEnum.WALKING}} layout="icon-top" id="walk-button">
            <ion-label>Walk</ion-label>
            <ion-icon name="walk"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value={{transportEnum.TRANSIT}} layout="icon-top" id="transit-button">
            <ion-label>Transit</ion-label>
            <ion-icon name="bus"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value={{transportEnum.BICYCLING}} layout="icon-top" id= "bike-button">
            <ion-label>Bike</ion-label>
            <ion-icon name="bicycle"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value={{transportEnum.SHUTTLE}} layout="icon-top" id= "shuttlebus-button">
            <ion-label>Shuttle</ion-label>
            <ion-icon name="school"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </ion-toolbar>
  <ion-button *ngIf="directionSent && isExpanded" expand="full" color="primary" (click)="startRoute()" id="start-button">Start
  </ion-button>
</ion-header>