<p>Integrate with Google Calendar</p>
<div *ngIf="googleCalendar.user$ | async as user; else login">
  <ion-button (click)="getEvents()">Get Events</ion-button>
  
  <div *ngFor="let item of calendarItems">
    <ion-card>
      <h3>{{ item.summary }} - {{ item.status }}</h3>
      <p><em>Created {{ item.created }}</em></p>
      <p>{{ item.description }}</p>
    </ion-card>
  </div>

  <ion-button (click)="signOut()">Deactivate</ion-button>
</div>


<ng-template #login>
  <ion-button (click)="sync()">Activate</ion-button>
</ng-template>

<pre #content id="content" style="white-space: pre-wrap;"></pre>