<ion-header>
  <ion-toolbar>
    <ion-title>Temporary Indoor Navigation Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="floorplan-container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Select a route</ion-card-subtitle>
        <ion-card-title>Get Directions</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input clearInput [(ngModel)]="start"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input clearInput [(ngModel)]="end"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="getRouteTest()">Start</ion-button>
      </ion-card-content>
    </ion-card>
    <floor-plan [building]="building" [floor]="floor"></floor-plan>
  </div>
</ion-content>